.states/
contracts/class-01/artifacts
contracts/class-02/artifacts
contracts/class-03/artifacts
contracts/class-04/artifacts
contracts/class-05/artifacts
contracts/class-06/artifacts
projects/module-01/artifacts
projects/module-02/artifacts